//# Body Copy
$regularSize: 1.2rem;
$headingSize: 3rem;

//# Font
$familyStack: "Kumbh Sans", sans-serif;
$weights: (
  regular: 400,
  bold: 700,
);

//# Default
$defaultFontRule: map-get($weights, regular) $regularSize $familyStack;
